apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
- base

components:
- components/enable-network-policies
- components/expose-weatherapp

secretGenerator:
  - name: weatherapp
    envs:
      - .env